<center>
    <br/>
    Walcart Item
    <br/>
    <br>
    <form action="cart-item.component.html" method="post">
    <table border="1">
        <tr>
            <td><input type="checkbox" name="choice[]" value="1" />
            <img src="1.jpeg" height="200" width="200"><br>	
            1. Item<br>Price: </td>
    
            <td><input type="checkbox" name="choice[]" value="2" />
            <img src="2.jpeg" height="200" width="200"><br>
            2. Item<br>Price:</td>
        
            <td><input type="checkbox" name="choice[]" value="3" />
            <img src="3.jpeg" height="200" width="200"><br>
            3. Item<br>Price:</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="choice[]" value="4" />
            <img src="4.jpeg" height="200" width="200"><br>
            4. Item<br>Price:</td>
        
            <td><input type="checkbox" name="choice[]" value="5" />
            <img src="5.jpeg" height="200" width="200"><br>
            5. Item<br>Price:</td>
        
            <td><input type="checkbox" name="choice[]" value="6" />
            <img src="6.jpeg" height="200" width="200"><br>
            6. Item<br>Price:</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="choice[]" value="7" />
            <img src="7.jpeg" height="200" width="200"><br>
            7. Item<br>Price:</td>
    
            <td><input type="checkbox" name="choice[]" value="8" />
            <img src="8.jpeg" height="200" width="200"><br>
            8. Item<br>Price:</td>
                
            <td><input type="checkbox" name="choice[]" value="9" />
            <img src="9.jpeg" height="200" width="200"><br>
            9. Item<br>Price:0</td>
        </tr>
        </table>
    <br >
    
        <input type="Submit" value="checkout" />
    
    </form>
    
    <br>
    <br>
    
    </center>
    