<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a
        [routerLink]="['/sub-categories', id]"
        class="btn btn-sm btn-outline-success"
      >
        Back to {{ name }}
      </a>
    </li>
  </ul>
</nav>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <button
      class="btn btn-outline-success btn-lg "
      [disabled]="isFirstPage"
      (click)="previous()"
    >
      <i class="fa fa-chevron-left"></i>
    </button>
  </li>
  <li class="nav-item">
    <span class="btn btn-outline-success btn-lg "
      >{{ currentPageNumber }}/{{ totalPages }}</span
    >
  </li>
  <li class="nav-item">
    <button
      class="btn btn-outline-success btn-lg "
      [disabled]="isLastPage"
      (click)="next()"
    >
      <i class="fa fa-chevron-right"></i>
    </button>
  </li>
</ul>

<br /><br />
