/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
  padding-top: 100px;
  background-image: url('/assets/background.png');
  background-repeat: repeat;
  padding-bottom: 50px;
}
body {
  width: calc(100vw - 34px);
}
.btn-primary {
  background-color: rgb(103, 103, 218) !important;
}
