<div class="shopping-cart">
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product" *ngFor="let item of items">
    <div class="product-image"><img [src]="item.thumbnailImage" /></div>
    <div class="product-details">
      <div class="product-title">{{ item.name }}</div>
      <p class="product-description">{{ item.brand }}</p>
    </div>
    <div class="product-price">{{ item.salePrice?.toFixed(2) }}</div>
    <div class="product-quantity">
      <input
        type="number"
        (change)="updateQuantity(item.itemId, +$event.target.value)"
        value="{{item.quantity}}"
      />
    </div>
    <div class="product-removal">
      <button (click)="removeItem(item.itemId)" class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">{{ item?.totalCost?.toFixed(2) }}</div>
  </div>

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">{{ cartTotal }}</div>
    </div>
    <div class="totals-item">
      <label>Delivery</label>
      <div class="totals-value" id="cart-shipping">{{ estimatedShipping }}</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">{{ total }}</div>
    </div>
    <button (click)="save()" class="btn btn-outline-info">
      <i class="far fa-save fa-2x"></i>
    </button>
    <button *ngIf="isAuth" (click)="checkOut()" class="checkout">
      Checkout
    </button>
    <button
      *ngIf="!isAuth"
      [routerLink]="['/login']"
      [queryParams]="{ returnUrl: 'checkout' }"
      class="checkout"
    >
      Login to Checkout
    </button>
  </div>
</div>
