<app-spinner *ngIf="loading"></app-spinner>
<div class="wrapper">
  <ng-container *ngIf="categories">
    <div>
      <div class="row">
        <div
          class="col-lg-4 col-sm-12 py-2"
          *ngFor="let category of categories; trackBy: trackByFn"
        >
          <div
            class="card h-100"
            [routerLink]="['/sub-categories', category.id]"
          >
            <img
              class="card-img-top"
              src="assets\categories\{{category.id}}.jpeg"
              onError="this.src='assets\images\placeholder.jpg';"
              alt=""
            />
            <div class="card-img-overlay">
              <h5 class="card-title text-center text-white">
                {{ category.name }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
