<app-spinner *ngIf="loading"></app-spinner>

<ng-container *ngIf="currentPage && currentPage.items">
  <app-product-page-nav
    [name]="currentCategory.name"
    [id]="currentCategory.id"
    (getNext)="getNext()"
    (getPrevious)="getPrevious()"
  ></app-product-page-nav>
  <div>
    <div class="row">
      <div
        class="col-lg-4 d-flex align-items-stretch"
        *ngFor="let item of currentPage.items; trackBy: trackByFn"
      >
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" [src]="item.largeImage" alt="" />
          <div class="card-body">
            <p class="card-text">{{ item.name }}</p>
            <p class="card-text">
              <strong>Stock</strong>:
              <span
                [ngClass]="
                  item.stock == 'Available' ? 'text-success' : 'text-warning'
                "
                >{{ item.stock }}</span
              >
              | <strong>Price</strong> ${{ item.salePrice.toFixed(2) }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <button
                (click)="addToCart(item)"
                class="btn btn-success btn-circle btn-lg"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-product-page-nav
    [name]="currentCategory.name"
    [id]="currentCategory.id"
    (getNext)="getNext()"
    (getPrevious)="(getPrevious)"
  ></app-product-page-nav>
</ng-container>
