<app-spinner *ngIf="loading"></app-spinner>

<ng-container *ngIf="currentPage && currentPage.items">
  <app-product-page-nav
    [name]="currentCategory.name"
    [isFirstPage]="isFirstPage()"
    [currentPageNumber]="getCurrentPageNumber()"
    [isLastPage]="isLastPage()"
    [totalPages]="totalPages"
    [id]="currentCategory.id"
    (getNext)="getNext()"
    (getPrevious)="getPrevious()"
  ></app-product-page-nav>
  <div>
    <div class="row">
      <div
        class="col-lg-4 col-sm-12 py-2"
        *ngFor="let item of currentPage.items; trackBy: trackByFn"
      >
        <app-product-card
          [productItem]="item"
          (emitAddToCart)="addToCart(item)"
        ></app-product-card>
      </div>
    </div>
  </div>
  <app-product-page-nav
    [name]="currentCategory.name"
    [isFirstPage]="isFirstPage()"
    [currentPageNumber]="getCurrentPageNumber()"
    [isLastPage]="isLastPage()"
    [totalPages]="totalPages"
    [id]="currentCategory.id"
    (getNext)="getNext()"
    (getPrevious)="getPrevious()"
  ></app-product-page-nav>
</ng-container>
